In [27]:
import math
print(dir(math), end='\n')
print(math.ceil(3.9))  #“Round up” to the smallest integer ≥ x
print(math.trunc(1.999999)) # r“Round down” to the largest integer ≤ x
print(math.floor(3.99)) #Chop off the fractional part, keeping the integer part only
print(math.factorial(2))# factorial only works for positive integers. n! = n * (n-1)

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
4
1
3
2

In [117]:
import math 
x = math.trunc(3.4) != math.ceil(3.4) #print(int(True )) --gives---1 and print(int(False))---0
print(int(x))

1

In [138]:
import random # random gives the random elements between 0 & 1
for i in range(10):
    print(random.random())

a = [1,2,4,5,6]

print(random.choice(a)) # we can use choice to select random element froma list but it might give duplicates

b = ['ram', 'ford', 'bmw', 'kia']
print(random.sample(a,5)) # with sample we can give a positional arg and gives no duplicates
#picks elements with unique indexes but doesn't verify whether the elements at these indexes are unique

0.3984495817494874
0.13042773005578567
0.5791983256664136
0.12410240515674054
0.7066868407027309
0.6386976408522814
0.9316473592778284
0.1676793224879891
0.11712667664643583
0.4803510409110483
6
[1, 6, 2, 4, 5]

In [77]:
import platform
print(platform.platform())
print(platform.machine())
print(platform.system())
print(platform.processor())
print(platform.python_implementation())
print(platform.python_version_tuple())

macOS-14.2.1-arm64-arm-64bit
arm64
Darwin
arm
CPython
('3', '12', '3')

In [118]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# generate random list from a max and select a
import random
def generate_tickets(ticket_count, max_number):
    v_ret = ()
    v_ret = list(range(max_number))
    v_ret = random.sample(v_ret, ticket_count)
    ret = random.choice(v_ret)
    return (v_ret , ret)

generate_tickets(5,100)

([77, 80, 7, 59, 82], 7)

In [15]:
# here when we loop a lisrt and pop elements from list the index positions shift and the looping chnages.
data = list(range(10))
# print(len(data))
for i in data:
    if i < len(data):
        data.pop(i)
print(data)

[1, 2, 4, 5, 7, 9]

                                            LIST COMPREHENSIONS

In [129]:
new = [number * number for number in range(10)]
print(new)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
"""inner list cmprn will create the list in range 
of 10 and outer list will do split for 5 times """

new = [[number for number in range(10)] for _ in range(5)] 
print(new)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [ ]:
# even numbers below 20
even_num = [number for number in range(21) if number%2 == 0]
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#convert the list elements to upper case 
names = ['apple', 'banana', 'cherry']
new_caps = [name.upper() for name in names]
print(new_caps)

['APPLE', 'BANANA', 'CHERRY']

In [161]:
# print first letter for each list item
names = ['apple', 'banana', 'cherry']
new_first_letter = [name[0] for name in names]
print(new_first_letter)

['a', 'b', 'c']

In [162]:
# create a list number divisible by 3
new = [number for number in range(31) if number%3 == 0]
new

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# length of each element in a list
names = ['cat', 'elephant', 'tiger']
new = [len(name) for name in names]
new

[3, 8, 5]

In [ ]:
# print only words if lenght > 5
words = ['hello', 'world', 'python', 'programming', 'abc', 'defgh']
new = [word for word in words if len(word) >= 5 ]
new

['hello', 'world', 'python', 'programming', 'defgh']

In [ ]:
# give list of words which are not vowles
names = 'Hello World'
new = [name for name in names if name not in 'aeiou']
new

['H', 'l', 'l', ' ', 'W', 'r', 'l', 'd']

In [ ]:
# flattening lists
matrix = [[1, 2], [3, 4], [5, 6]]
new = [one for one in matrix for one in one]
new

[1, 2, 3, 4, 5, 6]

In [ ]:
# cartesian product of 2 lists
A = [1, 2]
B = ['a', 'b']
new = [(a,b) for a in A for b in B]
new

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]